@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body,
html {
  height: 100%;
}
.header {
  padding-top: 0px;
  padding-bottom: 75px;
  margin-top: 0px;
}
.header h1 {
  font-size: 55px;
  font-weight: 500;
}

.header p {
  opacity: 0.5;
}

.container {
  display: flex;
  height: 100vh;
}

.form-section {
  flex: 2;
  background-color: #f3f3f3;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.subtext {
  color: #999;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 20px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #888;
  background-color: transparent;
  outline: none;
}

form button {
  margin-top: 10px;
  padding: 14px;
  background-color: #339dff;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #1976d2;
}

.login-text {
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.login-text a {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.bottom-text {
  text-align: center;
  padding-top: 30px;
}
.image-section {
  flex: 4;
  background-color: #043873;
}
.forget {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  gap: 190px;
}
.password-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
